{% extends "main/header.html" %}

	{% block content %}

	{% load crispy_forms_tags %}   <!--add this-->        

	<!--Register--> 
	<div class="container py-5 col-lg-5">
	    <h1 class="font-weight-bold">Register</h1>
	    <hr>
		<p>If you already have an account, <a href="/login">login</a> instead.</p>
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}         <!--add this-->            
			<br>
			<button class="btn btn-primary" type="submit">Register</button>
		</form>
		<br>
	</div>

	{% endblock %}